/****** General ***********/
@font-face {
    font-family: 'Raleway';
    src: url('raleway/Raleway-Regular.woff2') format('woff2'),
        url('raleway/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('raleway/Raleway-Bold.woff2') format('woff2'),
        url('raleway/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
* {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --info-border-color: #D9D9D9;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 1440px;
    padding: 0 15px 0 25px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 79px;
}
header p {
    padding: 30px 50px 30px 0;
    margin: 0;
}
header img {
    width: 61.09px;
    height: 19px;
}
header #links-menu {
    position: absolute;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 35px;
}
header #links-menu menu {
    display: flex;
    flex-direction: row;
    gap: 68px;
    list-style-type: none;
}
header #links-menu a {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    padding-top: 13px;
}
header #links-menu a:hover {
    border-top: 2px solid var(--main-color);
    color: var(--main-color);
}
/* Infos */
.infos {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
#headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
#headline h1 {
    height: 26px;
    margin: 0;
    font-size: 22px;
    font-weight: 700;
}
#headline p {
    height: 19px;
    margin: 0;
    font-weight: 400;
    font-size: 16px;
}

#research-bar form {
    display: flex;
    flex-direction: row;
}
#research-bar .location {
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    color: black;
    border-radius: 15px 0 0 15px;
    padding: 14.5px 17px 14.5px 17px;
}
#research-bar input {
    padding: 15px 30px 15px 30px;
    border: 1px solid var(--main-bg-color);
    border-right: none;
    border-left: none;
}
#research-bar input::placeholder {
    color: black;
    font-weight: 700;
    font-size: 18px;
}
#research-bar .desktop-btn {
    background-color: var(--main-color);
    color: white;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--main-color);
    border-radius: 0 15px 15px 0;
    width: 132px;
    padding-top: 13px;
    padding-bottom: 13px;
}
#research-bar .mobile-btn {
    display: none;
}
.mobile-btn .magnifying-glass {
    color: #ffffff;
}
#filters-bar {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
    height: 50px;
}
#filters-bar p {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}
#filters-bar ul {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 0;
    padding: 0;
}
#filters-list li {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 4px 19px 4px 19px;
    border: 2px solid var(--info-border-color);
    border-radius: 25px;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    line-height: 36px;
}
#filters-list li:hover {
    background-color: var(--filter-bg-color);
    cursor: default;
}
.vector-filters {
    margin-top: 7px;
    height: 22px;
    width: 22px;
}
#info-bar {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#info-bar i {
    border: 1px solid var(--info-border-color);
    border-radius: 50%;
    padding: 5px 8px 5px 8px;
}
#info-bar p {
    font-family: "Raleway";
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin: 0;
}
/****** Hebergements And Populaires ***********/
#hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    height: 611.5px;
}

#hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 871px;
    height: 611.5px;
    padding: 30px;
    border-radius: 15px;
}
.hebergements h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: rgba(0, 0, 0, 1);
}
.card-content-hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    width: 811px;
}
.card-hebergements {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 250.33px;
    padding: 0 0 15px 0;
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.1);
}
.card-hebergements img {
    height: 114px;
    border-radius: 20px 20px 0 0;
    border: 5px solid #FFFFFF;
    object-fit: cover;
}
.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 64.25px;
    padding: 0 15px 0 15px;
}
.card-txt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.card-title-hebergements {
    width: 220.33px;
    padding: 0;
    line-height: 19px;
    color: rgba(0, 0, 0, 1);
}
.card-txt .card-subtitle {
    width: 220.33px;
    height: 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}
.card-rating {
    display: flex;
    flex-direction: row;
    width: 81px;
    height: 13.25px;
    padding: 0;
}
.card-rating i {
        transform: translateY(6px);
}
.hebergements p {
    height: 21px;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
/****** Populaires ***********/
#populaires {
    width: 429px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 135px;
}

.populaires-cards .card-title-hebergements {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* ACTIVITIES */
#activities {
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px 0;
    gap: 30px;
}
#activities h2 {
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}
.card-content-activities {
    display: flex;
    flex-direction: row;
    height: 439px;
    gap: 30px;
}
.card-activities {
    display: flex;
    flex-direction: column;
    width: 297.5px;
    height: 439px;
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}
.card-activities img {
    object-fit: cover;
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0 0;
}
.card-title {
    display: flex;
    align-items: center;
    height: 59px;
    padding-left: 19px;
    border-radius: 0 0 20px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    height: 163px;
    background-color: var(--main-bg-color);
}
.footer-element {
    display: flex;
    flex-direction: column;
    width: 446.67px;
    padding: 20px;
    gap: 15px;
}
.footer-element h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin: 0;
}
.footer-element a {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .main-container {
        gap: 35px;
    }

    #filters-bar {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 91px;
    }
    #filters-bar p {
        padding: 0;
    }
    #filters-list li {
        font-size: 16px;
    }

    #hebergements-and-populaires {
        flex-direction: column;
        gap: 50px;
        height: 913.5px;
    }

    .hebergements {
        width: 100%;
    }
    .card-content-hebergements {
        width: 100%;
    }
    .card-hebergements {
        width: 268px;
        height: 207.25px;
        padding-bottom: 0;
    }
    .card-hebergements img {
        height: 114px;
    }
    .card-content {
        height: 64.25px;
    }
    .card-title-hebergements {
        font-weight: 700;
        font-size: 16px;
        height: 19px;
    }

    #populaires {
        width: 100%;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-title-hebergements {
        width: 163.33px;
        font-size: 16px;
        height: 25px;
    }
    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .card-content-activities {
        height: 270px;
    }
    .card-activities {
        width: 193.5px;
        height: 270px;
    }
    .card-activities img {
        width: 193.5px;
        height: 200px;
    }
    .card-title {
        height: 70px;
    }

    footer {
        gap: 30px;
    }
    .footer-element {
        padding-right: 0;
    }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }

    header {
        display: block;
        height: 115px;
        text-align: center;
    }
    header p {
        width: 100%;
        padding-right: 0;
    }
    header #links-menu {
        width: 100%;
    }
    header #links-menu menu {
        display: flex;
        flex-direction: row;
        gap: 0;
        width: 100%;
    }
    header #links-menu li {
        width: 100%;
    }
    header #links-menu a {
        display: block;
        padding-top: 0;
        padding-bottom: 15px;
        border-bottom: 2px solid transparent;
    }
    header #links-menu a:hover {
        border-top: none;
        border-bottom: 2px solid var(--main-color);
        color: var(--main-color);
    }

    .infos {
        height: 432px;
        padding: 0 20px 0 20px;
    }
    #headline {
        height: 79px;
    }
    #headline h1 {
        height: 52px;
        line-height: 25.83px;
    }
    #research-bar {
        width: 335px;
        height: 49px;
    }
    #research-bar .desktop-btn {
        display: none;
    }
    #research-bar .mobile-btn {
        display: block;
        background-color: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 15px;
        width: 49px;
        height: 49px;
        padding: 15px 16px 15px 16px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    #filters-bar {
        height: 161px;
    }
    #filters-bar ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    #filters-list li {
        width: 35%;
        font-size: 14px;
    }
    #info-bar {
        align-items: center;
    }
    #info-bar p {
        height: 38px;
        line-height: 18.78px;
    }

    #hebergements-and-populaires {
        flex-direction: column-reverse;
        gap: 15px;
        height: auto;
    }
    #hebergements-and-populaires section {
        width: 100%;
    }

    #hebergements-and-populaires #populaires {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 0;
        padding: 30px 20px 30px 20px;
    }
    #hebergements-and-populaires a {
        width: 100%;
    }
    .populaires-cards .card {
        margin-top: 0;
    }
    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .populaires-cards img {
        width: 111.67px;
        height: 136px;
    }
    .populaires-cards .card-title-hebergements {
        width: 100%;
        line-height: 19px;
    }

    #hebergements-and-populaires .hebergements {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border-radius: 0;
        background-color: #ffff;
        width: 100%;
        height: 1460px;
    }
    .card-content-hebergements {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 335px;
    }
    .card-content-hebergements :nth-child(1) {
        order: 0;
    }
    .card-content-hebergements :nth-child(2) {
        order: 5;
    }
    .card-content-hebergements :nth-child(3) {
        order: 2;
    }
    .card-content-hebergements :nth-child(4) {
        order: 3;
    }
    .card-content-hebergements :nth-child(5) {
        order: 1;
    }
    .card-content-hebergements :nth-child(6) {
        order: 4;
    }
    .card-hebergements {
        width: 335px;
    }
    .card-content-hebergements .card-hebergements {
       padding-bottom: 0;
    }

    #activities {
        height: 900px;
        padding: 30px;
    }
    .card-content-activities {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .card-activities {
        width: 315px;
        height: 200px;
    }
    .card-activities img {
        width: 315px;
        height: 141px;
    }
    .card-activities .card-title {
        font-weight: 700;
        height: 59px;
    }

    footer {
        display: flex;
        flex-direction: column;
        width: 345px;
        height: 461px;
        padding: 30px 0 0 30px;
        gap: 50px;
    }
    .footer-element {
        width: 100%;
        padding: 0;
    }
}